{% extends 'base2.html' %} {% load static %} {% block body %}

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Contact</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Admin Panel</li>
        </ol>
      </div>
    </div>
  </section>

<h1>Students</h1>

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Joining Date</th>
        <th scope="col">Fees</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ student.user.username }}</td>
        <td>{{ student.joiningDate }}</td>
        <td>{{ student.monthlyFees }}</td>
        <td>
          <button class="btn btn-success">Pay</button>
          <a href="{% url 'delete-student' student.user.id %}" class="btn btn-danger"> Delete </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}