{% extends 'base.html' %} {% load static %} {% block body %}
<h1></h1>
{% if errorUsername %}
<script>
  alert('Username alredy taken, select a new one');
</script>
{% endif %}
<main id="main">
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Contact</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Login</li>
        </ol>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-md-6" style="">
      <h3 style="text-align: center">For SignUp</h3>
      <form method="post" name="loginForm" enctype="multipart/form-data" accept="<nav aria-label="Page navigation example">
      </nav>
        {% csrf_token %}
        <div class="form-group">
          <label for="">First Name</label>
          <input
            type="text"
            name="fname"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter Your First Name"
          />
        </div>
        <div class="form-group">
          <label for="">Last Name</label>
          <input
            type="text"
            name="lname"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter Your Last Name"
          />
        </div>
        <div class="form-group">
          <label for="">User Name</label>
          <input
            type="text"
            name="user"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter You User Name"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Mobile Number</label>
          <input
            type="text"
            name="mob"
            class="form-control"
            id=""
            placeholder="Enter Mobile Number"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Monthly Fees</label>
          <input
            type="number"
            name="fees"
            class="form-control"
            id=""
            placeholder="Enter Monthly Fees"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Profile Picture</label>
          <input
            type="file"
            name="profile"
            class="form-control"
            id=""
            aria-describedby="emailHelp"
            placeholder="Enter Mobile Number"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Percentage</label>
          <input
            type="number"
            name="percent"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Percentage"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            name="pwd1"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm Password</label>
          <input
            type="password"
            name="pwd2"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Confirm Password"
          />
        </div>
        {% if errorPWD %}
        <span id="ErrorWarning">Passwords does not match</span>
        {% endif %}
        <div class="text-center">
          <button name="signup" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
    <div class="col-md-6" style="">
      <h3 style="text-align: center">For Login</h3>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id=""
            placeholder="Enter username"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>
        {% if errorLogin %}
        <span id="ErrorWarning">User name and password not matched</span>
        {% endif %}
        <button type="submit" name="login" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
